@model IEnumerable<Hijab.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.COMPANY_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMPANY_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMPANY_CONTACT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMPANY_ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMPANY_LOGO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY_CONTACT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY_ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY_LOGO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COMPANY_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.COMPANY_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COMPANY_ID })
        </td>
    </tr>
}

</table>
